@page "/editar_equipamento/{Id:int}"
@rendermode InteractiveServer

@using SGR.Components.Page.Shared
@using SGR.Models
@using SGR.Services

@inject EquipmentOperation Operation
@inject NavigationManager Navigation

<PageTitle>Editar Equipamento</PageTitle>

@if (_equipment is null)
{
    <div class="d-flex justify-content-center my-5">
        <div class="spinner-border text-primary">
            <span class="visually-hidden">Carregando...</span>
        </div>
    </div>
}
else
{
    <EditForm Model="@_equipment" OnValidSubmit="@UpdateEquipment" class="needs-validation">
        <DataAnnotationsValidator/>

        <Form Equipment="@_equipment"
              Loading="@_loading"
              ButtonText="Atualizar"
              ShowCancelButton="true">
        </Form>
    </EditForm>
}

<FeedbackToast Success="@_success" Message="@_message"/>

@code {
    [Parameter] public int Id { get; set; }
    private Equipment? _equipment;
    private string? _message;
    private bool _success;
    private bool _loading;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _equipment = await Operation.FindEquipmentByIdAsync(Id);
        }
        catch
        {
            _success = false;
            _message = "Erro ao carregar os dados do equipamento.";
        }
    }

    private async Task UpdateEquipment()
    {
        if (_equipment is null) return;
        try
        {
            _loading = true;

            await Operation.UpdateDataEquipmentAsync(_equipment);

            _success = true;
            _message = "Dados atualizados.";

            await Task.Delay(2000);
            Navigation.NavigateTo("/");
        }
        catch
        {
            _success = false;
            _message = "Erro ao atualizar os dados do equipamento.";
        }
        finally
        {
            _loading = false;
        }
    }
}